body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Volkhov', 'Open Sans', sans-serif, 'Josefin Sans', 'Lato', 'Montserrat', 'Poppins', 'Roboto' serif;
}

header {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  padding: 10px;
}
  
  .logo-container {
    max-width: 200px;
  }

  #logo {
    width: 110.91px;
    height: 33.99px;
    left: 140.92px;
    top: 48.7px;
    margin-top: -10px;
    margin-left: 50px;

  }

  .navbar li{
    position: relative;
    list-style: none;
    float: left;
    overflow: hidden;
    padding: 0 10px;
    color: #212832;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height:normal;
    font-size: 17px;
    margin-right: 35px;
    }
    
    .navbar li a:hover{
      color: #212832;
      
    }
    
    li,a,button{
      font-family:'Roboto', sans-serif;
      text-decoration: none;
      font-weight: 500;
      font-size: 17px;
      color: #212832;
    }
    
    .signup.btn{
      position: fixed;
      width: 100px;
      height: 40px;
      left: 1119px;
      top: 47px;
      border-radius: 5px;
      border: 1px;
      color: #212832;
      margin-top: -3%;
    }

    main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 90vh;
     }
     
     #feature-content {
    position: relative;
    left: 50px;
    bottom: 50px;
    width: 572px;
    height: 445px;
    margin: 0px 0 0 95px;
    
     }
     
     .article-content h4{
      font-size: 20px;
      font-weight: bold;
      color: #DF6951;
      text-transform: uppercase;
    }
    
    .article-content h1{
      font-size: 70px;
      line-height: 65px;
      color: #181E4B;
      font-family: Volkhov;
      margin: 5px 0 0 0;
      background-image: url(Decore-1.png);
      background-size: 40%;
      background-repeat: no-repeat;
      background-position-x: 190px;
      background-position-y: 54px; 
}

.article-content p {
  color: #5E6282;
  font-size: 16px;
  font-family: poppins;
  margin: 30px 0 0 0;
  width: 450px;
  line-height: 30px;
}

.article-content img {
  position: relative;
  bottom: 322px;
  left: 250px;
}

.btn-control {
  font-family: 'Poppins', sans-serif;
}

.btn-1 {
  border: 1PX solid rgb(240, 164, 0);
  background: #f1a501;
  box-shadow: 0px 20px 35px 0px rgba(241, 165, 1, 0.15);
  text-align: center;
  color: #fff;
  font-size: 15px;
  border-radius: 8px;
  flex-basis: 0;
  position: relative;
  bottom: 60px;
  padding: 15px 25px;
  margin-right: 20px;
  font-family: 'roboto' sans-serif;
  
}

.btn-2 {
  color: #686D77;
  font-size: 15px;
  font-weight: 500;
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Poppins', sans-serif;
  border: none;
  background: transparent;
  position: relative;
  bottom: 60px;
  right: 20px;
}

.lady-svg {
  position: relative;
  /* top: 20px; */
  left: 50px;
  width: 100%;
  height: 90%;
  margin-right: 250px;
}

